@import 'tailwindcss';

@theme {
  --color-light-bg: #f5f7fa;
  --color-subtle: #718096;
  --color-primary: #9164b0;
}

body {
  @apply bg-light-bg m-auto max-w-[1200px] p-8;
}

h1 {
  @apply text-4xl font-bold;
}

h4 {
  @apply text-lg font-semibold;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader svg {
  animation: spin 1s linear infinite;
}
